#game-zone {
  background-color: rgb(26, 46, 46);
}
.top-part {
  position: fixed;
  top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}
h1 {
  margin: 0 400px;
  font-family: quicksand;
  font-size: 30px;
  color: bisque;
  min-width: 110px;
}
.check {
  color: bisque;
  text-align: center;
}
.scoreboard {
  border: 1px solid bisque;
  color: bisque;
  border-radius: 15%;
  min-width: 60px;
  max-height: 76px;
}
.part {
  display: flex;
}
h2 {
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: -32px;
  left: 8px;
  background-color: rgb(26, 46, 46);
  font-family: quicksand;
}
.check {
  margin: 0;
  position: relative;
  font-size: 30px;
  top: -35px;
}
.name {
  margin-right: 20px;
  font-size: 20px;
  font-family: quicksand;
  animation: colors 10s infinite linear;
}
@keyframes letter {
  from {
    top: 0px;
    transform: rotateX(0deg);
  }
  7% {
    top: -20px;
    transform: rotateX(0deg);
    display: inline-block;
  }
  25% {
    top: -20px;
    display: inline-block;
    transform: rotate(180deg);
  }
  40% {
    top: -20px;
    transform: rotate(360deg);
  }
  55% {
    top: 0px;
    transform: rotateX(360deg);
  }
  to {
    top: 0px;
    transform: rotateX(360deg);
  }
}
.letter {
  position: relative;
  animation: letter 5s infinite linear;
}
@keyframes colors {
  from {
    color: bisque;
  }
  20% {
    color: rgb(97, 181, 255);
  }
  40% {
    color: rgb(255, 129, 129);
  }
  60% {
    color: aquamarine;
  }
  80% {
    color: rgb(226, 255, 62);
  }
  to {
    color: bisque;
  }
}
.star {
  position: relative;
  width: 20px;
  height: 20px;

  filter: blur(4px);
  border-radius: 50%;

  background-color: rgb(255, 255, 160);
}
#first-star {
  top: 218px;
  left: 35px;
}
#second-star {
  top: 427px;
  left: 203px;
}
#third-star {
  top: 75px;
  left: 1207px;
}
#fourth-star {
  top: 323px;
  left: 835px;
}
#fifth-star {
  top: 118px;
  left: 535px;
}
